/*
Naurt API

OpenAPI specification for Naurt's APIs. 

API version: 0.1.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package naurt_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type FinalDestinationAPI interface {

	/*
	FinaldestinationOptions Options

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFinaldestinationOptionsRequest
	*/
	FinaldestinationOptions(ctx context.Context) ApiFinaldestinationOptionsRequest

	// FinaldestinationOptionsExecute executes the request
	//  @return OptionsResponse
	FinaldestinationOptionsExecute(r ApiFinaldestinationOptionsRequest) (*OptionsResponse, *http.Response, error)

	/*
	FinaldestinationPost Post

	Query the Naurt Final Destination dataset to retrieve precise destination
locations for addresses, buildings, entrances, and parking locations.

Each request contains one or more `queries`. A query can represent several
different search types supported by the Final Destination API:

• Forward geocoding — supply an `address_string` or `address_structured`  
• Reverse geocoding — supply a `location` with latitude and longitude  
• Naurt ID lookup — supply an `id` returned from a previous query  
• Source ID lookup — supply identifiers such as `os_uprn`  

The API returns a best match for each query along with optional additional
matches. Results may include multiple destination geometries such as building
entrances, delivery doors, or parking locations depending on available data.

The geometry format returned by the API is controlled by `options.geojson_type`:

• `geojson` (default) — results are returned as standard GeoJSON
  FeatureCollections with geometries and properties.

• `key_value` — results are returned as a simplified key/value representation
  where each destination type contains latitude and longitude coordinates.

Each query result includes a status, the best match, optional additional
matches, and metadata such as distance from the search location when
applicable.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFinaldestinationPostRequest
	*/
	FinaldestinationPost(ctx context.Context) ApiFinaldestinationPostRequest

	// FinaldestinationPostExecute executes the request
	//  @return FinalDestinationResponse
	FinaldestinationPostExecute(r ApiFinaldestinationPostRequest) (*FinalDestinationResponse, *http.Response, error)
}

// FinalDestinationAPIService FinalDestinationAPI service
type FinalDestinationAPIService service

type ApiFinaldestinationOptionsRequest struct {
	ctx context.Context
	ApiService FinalDestinationAPI
}

func (r ApiFinaldestinationOptionsRequest) Execute() (*OptionsResponse, *http.Response, error) {
	return r.ApiService.FinaldestinationOptionsExecute(r)
}

/*
FinaldestinationOptions Options

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFinaldestinationOptionsRequest
*/
func (a *FinalDestinationAPIService) FinaldestinationOptions(ctx context.Context) ApiFinaldestinationOptionsRequest {
	return ApiFinaldestinationOptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OptionsResponse
func (a *FinalDestinationAPIService) FinaldestinationOptionsExecute(r ApiFinaldestinationOptionsRequest) (*OptionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodOptions
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OptionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinalDestinationAPIService.FinaldestinationOptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/final-destination/v2"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFinaldestinationPostRequest struct {
	ctx context.Context
	ApiService FinalDestinationAPI
	finalDestinationRequest *FinalDestinationRequest
}

func (r ApiFinaldestinationPostRequest) FinalDestinationRequest(finalDestinationRequest FinalDestinationRequest) ApiFinaldestinationPostRequest {
	r.finalDestinationRequest = &finalDestinationRequest
	return r
}

func (r ApiFinaldestinationPostRequest) Execute() (*FinalDestinationResponse, *http.Response, error) {
	return r.ApiService.FinaldestinationPostExecute(r)
}

/*
FinaldestinationPost Post

Query the Naurt Final Destination dataset to retrieve precise destination
locations for addresses, buildings, entrances, and parking locations.

Each request contains one or more `queries`. A query can represent several
different search types supported by the Final Destination API:

• Forward geocoding — supply an `address_string` or `address_structured`  
• Reverse geocoding — supply a `location` with latitude and longitude  
• Naurt ID lookup — supply an `id` returned from a previous query  
• Source ID lookup — supply identifiers such as `os_uprn`  

The API returns a best match for each query along with optional additional
matches. Results may include multiple destination geometries such as building
entrances, delivery doors, or parking locations depending on available data.

The geometry format returned by the API is controlled by `options.geojson_type`:

• `geojson` (default) — results are returned as standard GeoJSON
  FeatureCollections with geometries and properties.

• `key_value` — results are returned as a simplified key/value representation
  where each destination type contains latitude and longitude coordinates.

Each query result includes a status, the best match, optional additional
matches, and metadata such as distance from the search location when
applicable.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFinaldestinationPostRequest
*/
func (a *FinalDestinationAPIService) FinaldestinationPost(ctx context.Context) ApiFinaldestinationPostRequest {
	return ApiFinaldestinationPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FinalDestinationResponse
func (a *FinalDestinationAPIService) FinaldestinationPostExecute(r ApiFinaldestinationPostRequest) (*FinalDestinationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FinalDestinationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FinalDestinationAPIService.FinaldestinationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/final-destination/v2"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.finalDestinationRequest == nil {
		return localVarReturnValue, nil, reportError("finalDestinationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.finalDestinationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
